.loading-spinner-container
{
    justify-content: center!important;
    display: flex;
    min-height: 3rem!important;
}
.voting-actions
{
    display: flex;
    justify-content: end;
}

.image-thumb , .text-label
{
    display: inline-flex;
}
